RewriteEngine On

#accept loading of actual files and directories
RewriteCOnd %{REQUEST_FILENAME} !-f
RewriteCOnd %{REQUEST_FILENAME} !-d

#send everything else to the index page
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]